<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email footer-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>

  </div>

{%- if page.d3 -%}
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script>
    randomSize = function(){
      return Math.floor((Math.random() * 25) + 20);
    };

    randomColor = function(){
      return '#'+(Math.random()*0xFFFFFF<<0).toString(16);
    };

    myfunc = function() {

      var size = randomSize()

      window.onload = function() {
          var dataset;

          dataset = [[0,0], [26,0], [52,0], [78,0], [104,0], [130,0], [156,0], [182,0],
                     [0,26], [26,26], [52,26], [78,26], [104,26], [130,26], [156,26], [182,26],
                     [0,52], [26,52], [52,52], [78,52], [104,52], [130,52], [156,52], [182,52],
                     [0,78], [26,78], [52,78], [78,78], [104,78], [130,78], [156,78], [182,78]];

          var svgContainer = d3.select("#example")
                               .append("svg")
                               .attr("viewBox", "0 0 220 100")
                               .attr("xmlns", "http://www.w3.org/2000/svg");

          var rects = svgContainer.selectAll("rect")
                                  .data(dataset)
                                  .enter()
                                  .append("rect");

          var rectsProps = rects.attr("width", size)
                                .attr("height", size)
                                .attr("y", function (d){return d[1];})
                                .attr("x", function (d){return d[0];})

          d3.selectAll("rect").transition()
                              .delay(function(d, i) { return i * 100; })
                              .attr("fill", function(d) {return randomColor();})


          // hello = ["H", "E", "L", "L", "O", " ", "W", "O", "R", "L", "D", "!"]
          // var p = d3.select("body")
          //           .selectAll("p")
          //           .data(hello)
          //           .enter()
          //           .append( hello )




      };
    };

myfunc();
  </script>
{%- endif -%}


</footer>
