@charset "utf-8";

// Define defaults for each variable.
$base-font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Roboto Slab', "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
// google web fonts


$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;
$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:        #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// matplotlib colors
$aliceblue-color:        #F0F8FF;
$aliceblue-color-light: lighten($aliceblue-color, 40%);
$aliceblue-color-dark:  darken($aliceblue-color, 25%);
$antiquewhite-color:        #FAEBD7;
$antiquewhite-color-light: lighten($antiquewhite-color, 40%);
$antiquewhite-color-dark:  darken($antiquewhite-color, 25%);
$aqua-color:        #00FFFF;
$aqua-color-light: lighten($aqua-color, 40%);
$aqua-color-dark:  darken($aqua-color, 25%);
$aquamarine-color:        #7FFFD4;
$aquamarine-color-light: lighten($aquamarine-color, 40%);
$aquamarine-color-dark:  darken($aquamarine-color, 25%);
$azure-color:        #F0FFFF;
$azure-color-light: lighten($azure-color, 40%);
$azure-color-dark:  darken($azure-color, 25%);
$beige-color:        #F5F5DC;
$beige-color-light: lighten($beige-color, 40%);
$beige-color-dark:  darken($beige-color, 25%);
$bisque-color:        #FFE4C4;
$bisque-color-light: lighten($bisque-color, 40%);
$bisque-color-dark:  darken($bisque-color, 25%);
$black-color:        #000000;
$black-color-light: lighten($black-color, 40%);
$black-color-dark:  darken($black-color, 25%);
$blanchedalmond-color:        #FFEBCD;
$blanchedalmond-color-light: lighten($blanchedalmond-color, 40%);
$blanchedalmond-color-dark:  darken($blanchedalmond-color, 25%);
$blue-color:        #0000FF;
$blue-color-light: lighten($blue-color, 40%);
$blue-color-dark:  darken($blue-color, 25%);
$blueviolet-color:        #8A2BE2;
$blueviolet-color-light: lighten($blueviolet-color, 40%);
$blueviolet-color-dark:  darken($blueviolet-color, 25%);
$brown-color:        #A52A2A;
$brown-color-light: lighten($brown-color, 40%);
$brown-color-dark:  darken($brown-color, 25%);
$burlywood-color:        #DEB887;
$burlywood-color-light: lighten($burlywood-color, 40%);
$burlywood-color-dark:  darken($burlywood-color, 25%);
$cadetblue-color:        #5F9EA0;
$cadetblue-color-light: lighten($cadetblue-color, 40%);
$cadetblue-color-dark:  darken($cadetblue-color, 25%);
$chartreuse-color:        #7FFF00;
$chartreuse-color-light: lighten($chartreuse-color, 40%);
$chartreuse-color-dark:  darken($chartreuse-color, 25%);
$chocolate-color:        #D2691E;
$chocolate-color-light: lighten($chocolate-color, 40%);
$chocolate-color-dark:  darken($chocolate-color, 25%);
$coral-color:        #FF7F50;
$coral-color-light: lighten($coral-color, 40%);
$coral-color-dark:  darken($coral-color, 25%);
$cornflowerblue-color:        #6495ED;
$cornflowerblue-color-light: lighten($cornflowerblue-color, 40%);
$cornflowerblue-color-dark:  darken($cornflowerblue-color, 25%);
$cornsilk-color:        #FFF8DC;
$cornsilk-color-light: lighten($cornsilk-color, 40%);
$cornsilk-color-dark:  darken($cornsilk-color, 25%);
$crimson-color:        #DC143C;
$crimson-color-light: lighten($crimson-color, 40%);
$crimson-color-dark:  darken($crimson-color, 25%);
$cyan-color:        #00FFFF;
$cyan-color-light: lighten($cyan-color, 40%);
$cyan-color-dark:  darken($cyan-color, 25%);
$darkblue-color:        #00008B;
$darkblue-color-light: lighten($darkblue-color, 40%);
$darkblue-color-dark:  darken($darkblue-color, 25%);
$darkcyan-color:        #008B8B;
$darkcyan-color-light: lighten($darkcyan-color, 40%);
$darkcyan-color-dark:  darken($darkcyan-color, 25%);
$darkgoldenrod-color:        #B8860B;
$darkgoldenrod-color-light: lighten($darkgoldenrod-color, 40%);
$darkgoldenrod-color-dark:  darken($darkgoldenrod-color, 25%);
$darkgray-color:        #A9A9A9;
$darkgray-color-light: lighten($darkgray-color, 40%);
$darkgray-color-dark:  darken($darkgray-color, 25%);
$darkgreen-color:        #006400;
$darkgreen-color-light: lighten($darkgreen-color, 40%);
$darkgreen-color-dark:  darken($darkgreen-color, 25%);
$darkgrey-color:        #A9A9A9;
$darkgrey-color-light: lighten($darkgrey-color, 40%);
$darkgrey-color-dark:  darken($darkgrey-color, 25%);
$darkkhaki-color:        #BDB76B;
$darkkhaki-color-light: lighten($darkkhaki-color, 40%);
$darkkhaki-color-dark:  darken($darkkhaki-color, 25%);
$darkmagenta-color:        #8B008B;
$darkmagenta-color-light: lighten($darkmagenta-color, 40%);
$darkmagenta-color-dark:  darken($darkmagenta-color, 25%);
$darkolivegreen-color:        #556B2F;
$darkolivegreen-color-light: lighten($darkolivegreen-color, 40%);
$darkolivegreen-color-dark:  darken($darkolivegreen-color, 25%);
$darkorange-color:        #FF8C00;
$darkorange-color-light: lighten($darkorange-color, 40%);
$darkorange-color-dark:  darken($darkorange-color, 25%);
$darkorchid-color:        #9932CC;
$darkorchid-color-light: lighten($darkorchid-color, 40%);
$darkorchid-color-dark:  darken($darkorchid-color, 25%);
$darkred-color:        #8B0000;
$darkred-color-light: lighten($darkred-color, 40%);
$darkred-color-dark:  darken($darkred-color, 25%);
$darksalmon-color:        #E9967A;
$darksalmon-color-light: lighten($darksalmon-color, 40%);
$darksalmon-color-dark:  darken($darksalmon-color, 25%);
$darkseagreen-color:        #8FBC8F;
$darkseagreen-color-light: lighten($darkseagreen-color, 40%);
$darkseagreen-color-dark:  darken($darkseagreen-color, 25%);
$darkslateblue-color:        #483D8B;
$darkslateblue-color-light: lighten($darkslateblue-color, 40%);
$darkslateblue-color-dark:  darken($darkslateblue-color, 25%);
$darkslategray-color:        #2F4F4F;
$darkslategray-color-light: lighten($darkslategray-color, 40%);
$darkslategray-color-dark:  darken($darkslategray-color, 25%);
$darkslategrey-color:        #2F4F4F;
$darkslategrey-color-light: lighten($darkslategrey-color, 40%);
$darkslategrey-color-dark:  darken($darkslategrey-color, 25%);
$darkturquoise-color:        #00CED1;
$darkturquoise-color-light: lighten($darkturquoise-color, 40%);
$darkturquoise-color-dark:  darken($darkturquoise-color, 25%);
$darkviolet-color:        #9400D3;
$darkviolet-color-light: lighten($darkviolet-color, 40%);
$darkviolet-color-dark:  darken($darkviolet-color, 25%);
$deeppink-color:        #FF1493;
$deeppink-color-light: lighten($deeppink-color, 40%);
$deeppink-color-dark:  darken($deeppink-color, 25%);
$deepskyblue-color:        #00BFFF;
$deepskyblue-color-light: lighten($deepskyblue-color, 40%);
$deepskyblue-color-dark:  darken($deepskyblue-color, 25%);
$dimgray-color:        #696969;
$dimgray-color-light: lighten($dimgray-color, 40%);
$dimgray-color-dark:  darken($dimgray-color, 25%);
$dimgrey-color:        #696969;
$dimgrey-color-light: lighten($dimgrey-color, 40%);
$dimgrey-color-dark:  darken($dimgrey-color, 25%);
$dodgerblue-color:        #1E90FF;
$dodgerblue-color-light: lighten($dodgerblue-color, 40%);
$dodgerblue-color-dark:  darken($dodgerblue-color, 25%);
$firebrick-color:        #B22222;
$firebrick-color-light: lighten($firebrick-color, 40%);
$firebrick-color-dark:  darken($firebrick-color, 25%);
$floralwhite-color:        #FFFAF0;
$floralwhite-color-light: lighten($floralwhite-color, 40%);
$floralwhite-color-dark:  darken($floralwhite-color, 25%);
$forestgreen-color:        #228B22;
$forestgreen-color-light: lighten($forestgreen-color, 40%);
$forestgreen-color-dark:  darken($forestgreen-color, 25%);
$fuchsia-color:        #FF00FF;
$fuchsia-color-light: lighten($fuchsia-color, 40%);
$fuchsia-color-dark:  darken($fuchsia-color, 25%);
$gainsboro-color:        #DCDCDC;
$gainsboro-color-light: lighten($gainsboro-color, 40%);
$gainsboro-color-dark:  darken($gainsboro-color, 25%);
$ghostwhite-color:        #F8F8FF;
$ghostwhite-color-light: lighten($ghostwhite-color, 40%);
$ghostwhite-color-dark:  darken($ghostwhite-color, 25%);
$gold-color:        #FFD700;
$gold-color-light: lighten($gold-color, 40%);
$gold-color-dark:  darken($gold-color, 25%);
$goldenrod-color:        #DAA520;
$goldenrod-color-light: lighten($goldenrod-color, 40%);
$goldenrod-color-dark:  darken($goldenrod-color, 25%);
$gray-color:        #808080;
$gray-color-light: lighten($gray-color, 40%);
$gray-color-dark:  darken($gray-color, 25%);
$green-color:        #008000;
$green-color-light: lighten($green-color, 40%);
$green-color-dark:  darken($green-color, 25%);
$greenyellow-color:        #ADFF2F;
$greenyellow-color-light: lighten($greenyellow-color, 40%);
$greenyellow-color-dark:  darken($greenyellow-color, 25%);
$grey-color:        #808080;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$honeydew-color:        #F0FFF0;
$honeydew-color-light: lighten($honeydew-color, 40%);
$honeydew-color-dark:  darken($honeydew-color, 25%);
$hotpink-color:        #FF69B4;
$hotpink-color-light: lighten($hotpink-color, 40%);
$hotpink-color-dark:  darken($hotpink-color, 25%);
$indianred-color:        #CD5C5C;
$indianred-color-light: lighten($indianred-color, 40%);
$indianred-color-dark:  darken($indianred-color, 25%);
$indigo-color:        #4B0082;
$indigo-color-light: lighten($indigo-color, 40%);
$indigo-color-dark:  darken($indigo-color, 25%);
$ivory-color:        #FFFFF0;
$ivory-color-light: lighten($ivory-color, 40%);
$ivory-color-dark:  darken($ivory-color, 25%);
$khaki-color:        #F0E68C;
$khaki-color-light: lighten($khaki-color, 40%);
$khaki-color-dark:  darken($khaki-color, 25%);
$lavender-color:        #E6E6FA;
$lavender-color-light: lighten($lavender-color, 40%);
$lavender-color-dark:  darken($lavender-color, 25%);
$lavenderblush-color:        #FFF0F5;
$lavenderblush-color-light: lighten($lavenderblush-color, 40%);
$lavenderblush-color-dark:  darken($lavenderblush-color, 25%);
$lawngreen-color:        #7CFC00;
$lawngreen-color-light: lighten($lawngreen-color, 40%);
$lawngreen-color-dark:  darken($lawngreen-color, 25%);
$lemonchiffon-color:        #FFFACD;
$lemonchiffon-color-light: lighten($lemonchiffon-color, 40%);
$lemonchiffon-color-dark:  darken($lemonchiffon-color, 25%);
$lightblue-color:        #ADD8E6;
$lightblue-color-light: lighten($lightblue-color, 40%);
$lightblue-color-dark:  darken($lightblue-color, 25%);
$lightcoral-color:        #F08080;
$lightcoral-color-light: lighten($lightcoral-color, 40%);
$lightcoral-color-dark:  darken($lightcoral-color, 25%);
$lightcyan-color:        #E0FFFF;
$lightcyan-color-light: lighten($lightcyan-color, 40%);
$lightcyan-color-dark:  darken($lightcyan-color, 25%);
$lightgoldenrodyellow-color:        #FAFAD2;
$lightgoldenrodyellow-color-light: lighten($lightgoldenrodyellow-color, 40%);
$lightgoldenrodyellow-color-dark:  darken($lightgoldenrodyellow-color, 25%);
$lightgray-color:        #D3D3D3;
$lightgray-color-light: lighten($lightgray-color, 40%);
$lightgray-color-dark:  darken($lightgray-color, 25%);
$lightgreen-color:        #90EE90;
$lightgreen-color-light: lighten($lightgreen-color, 40%);
$lightgreen-color-dark:  darken($lightgreen-color, 25%);
$lightgrey-color:        #D3D3D3;
$lightgrey-color-light: lighten($lightgrey-color, 40%);
$lightgrey-color-dark:  darken($lightgrey-color, 25%);
$lightpink-color:        #FFB6C1;
$lightpink-color-light: lighten($lightpink-color, 40%);
$lightpink-color-dark:  darken($lightpink-color, 25%);
$lightsalmon-color:        #FFA07A;
$lightsalmon-color-light: lighten($lightsalmon-color, 40%);
$lightsalmon-color-dark:  darken($lightsalmon-color, 25%);
$lightseagreen-color:        #20B2AA;
$lightseagreen-color-light: lighten($lightseagreen-color, 40%);
$lightseagreen-color-dark:  darken($lightseagreen-color, 25%);
$lightskyblue-color:        #87CEFA;
$lightskyblue-color-light: lighten($lightskyblue-color, 40%);
$lightskyblue-color-dark:  darken($lightskyblue-color, 25%);
$lightslategray-color:        #778899;
$lightslategray-color-light: lighten($lightslategray-color, 40%);
$lightslategray-color-dark:  darken($lightslategray-color, 25%);
$lightslategrey-color:        #778899;
$lightslategrey-color-light: lighten($lightslategrey-color, 40%);
$lightslategrey-color-dark:  darken($lightslategrey-color, 25%);
$lightsteelblue-color:        #B0C4DE;
$lightsteelblue-color-light: lighten($lightsteelblue-color, 40%);
$lightsteelblue-color-dark:  darken($lightsteelblue-color, 25%);
$lightyellow-color:        #FFFFE0;
$lightyellow-color-light: lighten($lightyellow-color, 40%);
$lightyellow-color-dark:  darken($lightyellow-color, 25%);
$lime-color:        #00FF00;
$lime-color-light: lighten($lime-color, 40%);
$lime-color-dark:  darken($lime-color, 25%);
$limegreen-color:        #32CD32;
$limegreen-color-light: lighten($limegreen-color, 40%);
$limegreen-color-dark:  darken($limegreen-color, 25%);
$linen-color:        #FAF0E6;
$linen-color-light: lighten($linen-color, 40%);
$linen-color-dark:  darken($linen-color, 25%);
$magenta-color:        #FF00FF;
$magenta-color-light: lighten($magenta-color, 40%);
$magenta-color-dark:  darken($magenta-color, 25%);
$maroon-color:        #800000;
$maroon-color-light: lighten($maroon-color, 40%);
$maroon-color-dark:  darken($maroon-color, 25%);
$mediumaquamarine-color:        #66CDAA;
$mediumaquamarine-color-light: lighten($mediumaquamarine-color, 40%);
$mediumaquamarine-color-dark:  darken($mediumaquamarine-color, 25%);
$mediumblue-color:        #0000CD;
$mediumblue-color-light: lighten($mediumblue-color, 40%);
$mediumblue-color-dark:  darken($mediumblue-color, 25%);
$mediumorchid-color:        #BA55D3;
$mediumorchid-color-light: lighten($mediumorchid-color, 40%);
$mediumorchid-color-dark:  darken($mediumorchid-color, 25%);
$mediumpurple-color:        #9370DB;
$mediumpurple-color-light: lighten($mediumpurple-color, 40%);
$mediumpurple-color-dark:  darken($mediumpurple-color, 25%);
$mediumseagreen-color:        #3CB371;
$mediumseagreen-color-light: lighten($mediumseagreen-color, 40%);
$mediumseagreen-color-dark:  darken($mediumseagreen-color, 25%);
$mediumslateblue-color:        #7B68EE;
$mediumslateblue-color-light: lighten($mediumslateblue-color, 40%);
$mediumslateblue-color-dark:  darken($mediumslateblue-color, 25%);
$mediumspringgreen-color:        #00FA9A;
$mediumspringgreen-color-light: lighten($mediumspringgreen-color, 40%);
$mediumspringgreen-color-dark:  darken($mediumspringgreen-color, 25%);
$mediumturquoise-color:        #48D1CC;
$mediumturquoise-color-light: lighten($mediumturquoise-color, 40%);
$mediumturquoise-color-dark:  darken($mediumturquoise-color, 25%);
$mediumvioletred-color:        #C71585;
$mediumvioletred-color-light: lighten($mediumvioletred-color, 40%);
$mediumvioletred-color-dark:  darken($mediumvioletred-color, 25%);
$midnightblue-color:        #191970;
$midnightblue-color-light: lighten($midnightblue-color, 40%);
$midnightblue-color-dark:  darken($midnightblue-color, 25%);
$mintcream-color:        #F5FFFA;
$mintcream-color-light: lighten($mintcream-color, 40%);
$mintcream-color-dark:  darken($mintcream-color, 25%);
$mistyrose-color:        #FFE4E1;
$mistyrose-color-light: lighten($mistyrose-color, 40%);
$mistyrose-color-dark:  darken($mistyrose-color, 25%);
$moccasin-color:        #FFE4B5;
$moccasin-color-light: lighten($moccasin-color, 40%);
$moccasin-color-dark:  darken($moccasin-color, 25%);
$navajowhite-color:        #FFDEAD;
$navajowhite-color-light: lighten($navajowhite-color, 40%);
$navajowhite-color-dark:  darken($navajowhite-color, 25%);
$navy-color:        #000080;
$navy-color-light: lighten($navy-color, 40%);
$navy-color-dark:  darken($navy-color, 25%);
$oldlace-color:        #FDF5E6;
$oldlace-color-light: lighten($oldlace-color, 40%);
$oldlace-color-dark:  darken($oldlace-color, 25%);
$olive-color:        #808000;
$olive-color-light: lighten($olive-color, 40%);
$olive-color-dark:  darken($olive-color, 25%);
$olivedrab-color:        #6B8E23;
$olivedrab-color-light: lighten($olivedrab-color, 40%);
$olivedrab-color-dark:  darken($olivedrab-color, 25%);
$orange-color:        #FFA500;
$orange-color-light: lighten($orange-color, 40%);
$orange-color-dark:  darken($orange-color, 25%);
$orangered-color:        #FF4500;
$orangered-color-light: lighten($orangered-color, 40%);
$orangered-color-dark:  darken($orangered-color, 25%);
$orchid-color:        #DA70D6;
$orchid-color-light: lighten($orchid-color, 40%);
$orchid-color-dark:  darken($orchid-color, 25%);
$palegoldenrod-color:        #EEE8AA;
$palegoldenrod-color-light: lighten($palegoldenrod-color, 40%);
$palegoldenrod-color-dark:  darken($palegoldenrod-color, 25%);
$palegreen-color:        #98FB98;
$palegreen-color-light: lighten($palegreen-color, 40%);
$palegreen-color-dark:  darken($palegreen-color, 25%);
$paleturquoise-color:        #AFEEEE;
$paleturquoise-color-light: lighten($paleturquoise-color, 40%);
$paleturquoise-color-dark:  darken($paleturquoise-color, 25%);
$palevioletred-color:        #DB7093;
$palevioletred-color-light: lighten($palevioletred-color, 40%);
$palevioletred-color-dark:  darken($palevioletred-color, 25%);
$papayawhip-color:        #FFEFD5;
$papayawhip-color-light: lighten($papayawhip-color, 40%);
$papayawhip-color-dark:  darken($papayawhip-color, 25%);
$peachpuff-color:        #FFDAB9;
$peachpuff-color-light: lighten($peachpuff-color, 40%);
$peachpuff-color-dark:  darken($peachpuff-color, 25%);
$peru-color:        #CD853F;
$peru-color-light: lighten($peru-color, 40%);
$peru-color-dark:  darken($peru-color, 25%);
$pink-color:        #FFC0CB;
$pink-color-light: lighten($pink-color, 40%);
$pink-color-dark:  darken($pink-color, 25%);
$plum-color:        #DDA0DD;
$plum-color-light: lighten($plum-color, 40%);
$plum-color-dark:  darken($plum-color, 25%);
$powderblue-color:        #B0E0E6;
$powderblue-color-light: lighten($powderblue-color, 40%);
$powderblue-color-dark:  darken($powderblue-color, 25%);
$purple-color:        #800080;
$purple-color-light: lighten($purple-color, 40%);
$purple-color-dark:  darken($purple-color, 25%);
$rebeccapurple-color:        #663399;
$rebeccapurple-color-light: lighten($rebeccapurple-color, 40%);
$rebeccapurple-color-dark:  darken($rebeccapurple-color, 25%);
$red-color:        #FF0000;
$red-color-light: lighten($red-color, 40%);
$red-color-dark:  darken($red-color, 25%);
$rosybrown-color:        #BC8F8F;
$rosybrown-color-light: lighten($rosybrown-color, 40%);
$rosybrown-color-dark:  darken($rosybrown-color, 25%);
$royalblue-color:        #4169E1;
$royalblue-color-light: lighten($royalblue-color, 40%);
$royalblue-color-dark:  darken($royalblue-color, 25%);
$saddlebrown-color:        #8B4513;
$saddlebrown-color-light: lighten($saddlebrown-color, 40%);
$saddlebrown-color-dark:  darken($saddlebrown-color, 25%);
$salmon-color:        #FA8072;
$salmon-color-light: lighten($salmon-color, 40%);
$salmon-color-dark:  darken($salmon-color, 25%);
$sandybrown-color:        #F4A460;
$sandybrown-color-light: lighten($sandybrown-color, 40%);
$sandybrown-color-dark:  darken($sandybrown-color, 25%);
$seagreen-color:        #2E8B57;
$seagreen-color-light: lighten($seagreen-color, 40%);
$seagreen-color-dark:  darken($seagreen-color, 25%);
$seashell-color:        #FFF5EE;
$seashell-color-light: lighten($seashell-color, 40%);
$seashell-color-dark:  darken($seashell-color, 25%);
$sienna-color:        #A0522D;
$sienna-color-light: lighten($sienna-color, 40%);
$sienna-color-dark:  darken($sienna-color, 25%);
$silver-color:        #C0C0C0;
$silver-color-light: lighten($silver-color, 40%);
$silver-color-dark:  darken($silver-color, 25%);
$skyblue-color:        #87CEEB;
$skyblue-color-light: lighten($skyblue-color, 40%);
$skyblue-color-dark:  darken($skyblue-color, 25%);
$slateblue-color:        #6A5ACD;
$slateblue-color-light: lighten($slateblue-color, 40%);
$slateblue-color-dark:  darken($slateblue-color, 25%);
$slategray-color:        #708090;
$slategray-color-light: lighten($slategray-color, 40%);
$slategray-color-dark:  darken($slategray-color, 25%);
$slategrey-color:        #708090;
$slategrey-color-light: lighten($slategrey-color, 40%);
$slategrey-color-dark:  darken($slategrey-color, 25%);
$snow-color:        #FFFAFA;
$snow-color-light: lighten($snow-color, 40%);
$snow-color-dark:  darken($snow-color, 25%);
$springgreen-color:        #00FF7F;
$springgreen-color-light: lighten($springgreen-color, 40%);
$springgreen-color-dark:  darken($springgreen-color, 25%);
$steelblue-color:        #4682B4;
$steelblue-color-light: lighten($steelblue-color, 40%);
$steelblue-color-dark:  darken($steelblue-color, 25%);
$tan-color:        #D2B48C;
$tan-color-light: lighten($tan-color, 40%);
$tan-color-dark:  darken($tan-color, 25%);
$teal-color:        #008080;
$teal-color-light: lighten($teal-color, 40%);
$teal-color-dark:  darken($teal-color, 25%);
$thistle-color:        #D8BFD8;
$thistle-color-light: lighten($thistle-color, 40%);
$thistle-color-dark:  darken($thistle-color, 25%);
$tomato-color:        #FF6347;
$tomato-color-light: lighten($tomato-color, 40%);
$tomato-color-dark:  darken($tomato-color, 25%);
$turquoise-color:        #40E0D0;
$turquoise-color-light: lighten($turquoise-color, 40%);
$turquoise-color-dark:  darken($turquoise-color, 25%);
$violet-color:        #EE82EE;
$violet-color-light: lighten($violet-color, 40%);
$violet-color-dark:  darken($violet-color, 25%);
$wheat-color:        #F5DEB3;
$wheat-color-light: lighten($wheat-color, 40%);
$wheat-color-dark:  darken($wheat-color, 25%);
$white-color:        #FFFFFF;
$white-color-light: lighten($white-color, 40%);
$white-color-dark:  darken($white-color, 25%);
$whitesmoke-color:        #F5F5F5;
$whitesmoke-color-light: lighten($whitesmoke-color, 40%);
$whitesmoke-color-dark:  darken($whitesmoke-color, 25%);
$yellow-color:        #FFFF00;
$yellow-color-light: lighten($yellow-color, 40%);
$yellow-color-dark:  darken($yellow-color, 25%);
$yellowgreen-color:        #9ACD32;
$yellowgreen-color-light: lighten($yellowgreen-color, 40%);
$yellowgreen-color-dark:  darken($yellowgreen-color, 25%);




$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// //Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

/* --------------------*/
/* page specific css */
.hover_image:hover {text-decoration: none}
.hide {display:none}
.hover_image:hover img:first-child{display:none}
.hover_image:hover img:last-child{display:inline-block}
.center-justified {
  text-align: justify;
  margin: 0 auto;
  width: 30em;
}



/* SPECIFIC STYLES */
.typewriter h1 {
  color: $teal-color;
  font-family: sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .10em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: $teal-color }
  50% { border-color: $teal-color }
}
