// matplotlib colors
$grey:        #828282 !default;
$grey-light: lighten($grey, 40%) !default;
$grey-dark:  darken($grey, 25%) !default;
$aliceblue:        #F0F8FF;
$aliceblue-light: lighten($aliceblue, 40%);
$aliceblue-dark:  darken($aliceblue, 25%);
$antiquewhite:        #FAEBD7;
$antiquewhite-light: lighten($antiquewhite, 40%);
$antiquewhite-dark:  darken($antiquewhite, 25%);
$aqua:        #00FFFF;
$aqua-light: lighten($aqua, 40%);
$aqua-dark:  darken($aqua, 25%);
$aquamarine:        #7FFFD4;
$aquamarine-light: lighten($aquamarine, 40%);
$aquamarine-dark:  darken($aquamarine, 25%);
$azure:        #F0FFFF;
$azure-light: lighten($azure, 40%);
$azure-dark:  darken($azure, 25%);
$beige:        #F5F5DC;
$beige-light: lighten($beige, 40%);
$beige-dark:  darken($beige, 25%);
$bisque:        #FFE4C4;
$bisque-light: lighten($bisque, 40%);
$bisque-dark:  darken($bisque, 25%);
$black:        #000000;
$black-light: lighten($black, 40%);
$black-dark:  darken($black, 25%);
$blanchedalmond:        #FFEBCD;
$blanchedalmond-light: lighten($blanchedalmond, 40%);
$blanchedalmond-dark:  darken($blanchedalmond, 25%);
$blue:        #0000FF;
$blue-light: lighten($blue, 40%);
$blue-dark:  darken($blue, 25%);
$blueviolet:        #8A2BE2;
$blueviolet-light: lighten($blueviolet, 40%);
$blueviolet-dark:  darken($blueviolet, 25%);
$brown:        #A52A2A;
$brown-light: lighten($brown, 40%);
$brown-dark:  darken($brown, 25%);
$burlywood:        #DEB887;
$burlywood-light: lighten($burlywood, 40%);
$burlywood-dark:  darken($burlywood, 25%);
$cadetblue:        #5F9EA0;
$cadetblue-light: lighten($cadetblue, 40%);
$cadetblue-dark:  darken($cadetblue, 25%);
$chartreuse:        #7FFF00;
$chartreuse-light: lighten($chartreuse, 40%);
$chartreuse-dark:  darken($chartreuse, 25%);
$chocolate:        #D2691E;
$chocolate-light: lighten($chocolate, 40%);
$chocolate-dark:  darken($chocolate, 25%);
$coral:        #FF7F50;
$coral-light: lighten($coral, 40%);
$coral-dark:  darken($coral, 25%);
$cornflowerblue:        #6495ED;
$cornflowerblue-light: lighten($cornflowerblue, 40%);
$cornflowerblue-dark:  darken($cornflowerblue, 25%);
$cornsilk:        #FFF8DC;
$cornsilk-light: lighten($cornsilk, 40%);
$cornsilk-dark:  darken($cornsilk, 25%);
$crimson:        #DC143C;
$crimson-light: lighten($crimson, 40%);
$crimson-dark:  darken($crimson, 25%);
$cyan:        #00FFFF;
$cyan-light: lighten($cyan, 40%);
$cyan-dark:  darken($cyan, 25%);
$darkblue:        #00008B;
$darkblue-light: lighten($darkblue, 40%);
$darkblue-dark:  darken($darkblue, 25%);
$darkcyan:        #008B8B;
$darkcyan-light: lighten($darkcyan, 40%);
$darkcyan-dark:  darken($darkcyan, 25%);
$darkgoldenrod:        #B8860B;
$darkgoldenrod-light: lighten($darkgoldenrod, 40%);
$darkgoldenrod-dark:  darken($darkgoldenrod, 25%);
$darkgray:        #A9A9A9;
$darkgray-light: lighten($darkgray, 40%);
$darkgray-dark:  darken($darkgray, 25%);
$darkgreen:        #006400;
$darkgreen-light: lighten($darkgreen, 40%);
$darkgreen-dark:  darken($darkgreen, 25%);
$darkgrey:        #A9A9A9;
$darkgrey-light: lighten($darkgrey, 40%);
$darkgrey-dark:  darken($darkgrey, 25%);
$darkkhaki:        #BDB76B;
$darkkhaki-light: lighten($darkkhaki, 40%);
$darkkhaki-dark:  darken($darkkhaki, 25%);
$darkmagenta:        #8B008B;
$darkmagenta-light: lighten($darkmagenta, 40%);
$darkmagenta-dark:  darken($darkmagenta, 25%);
$darkolivegreen:        #556B2F;
$darkolivegreen-light: lighten($darkolivegreen, 40%);
$darkolivegreen-dark:  darken($darkolivegreen, 25%);
$darkorange:        #FF8C00;
$darkorange-light: lighten($darkorange, 40%);
$darkorange-dark:  darken($darkorange, 25%);
$darkorchid:        #9932CC;
$darkorchid-light: lighten($darkorchid, 40%);
$darkorchid-dark:  darken($darkorchid, 25%);
$darkred:        #8B0000;
$darkred-light: lighten($darkred, 40%);
$darkred-dark:  darken($darkred, 25%);
$darksalmon:        #E9967A;
$darksalmon-light: lighten($darksalmon, 40%);
$darksalmon-dark:  darken($darksalmon, 25%);
$darkseagreen:        #8FBC8F;
$darkseagreen-light: lighten($darkseagreen, 40%);
$darkseagreen-dark:  darken($darkseagreen, 25%);
$darkslateblue:        #483D8B;
$darkslateblue-light: lighten($darkslateblue, 40%);
$darkslateblue-dark:  darken($darkslateblue, 25%);
$darkslategray:        #2F4F4F;
$darkslategray-light: lighten($darkslategray, 40%);
$darkslategray-dark:  darken($darkslategray, 25%);
$darkslategrey:        #2F4F4F;
$darkslategrey-light: lighten($darkslategrey, 40%);
$darkslategrey-dark:  darken($darkslategrey, 25%);
$darkturquoise:        #00CED1;
$darkturquoise-light: lighten($darkturquoise, 40%);
$darkturquoise-dark:  darken($darkturquoise, 25%);
$darkviolet:        #9400D3;
$darkviolet-light: lighten($darkviolet, 40%);
$darkviolet-dark:  darken($darkviolet, 25%);
$deeppink:        #FF1493;
$deeppink-light: lighten($deeppink, 40%);
$deeppink-dark:  darken($deeppink, 25%);
$deepskyblue:        #00BFFF;
$deepskyblue-light: lighten($deepskyblue, 40%);
$deepskyblue-dark:  darken($deepskyblue, 25%);
$dimgray:        #696969;
$dimgray-light: lighten($dimgray, 40%);
$dimgray-dark:  darken($dimgray, 25%);
$dimgrey:        #696969;
$dimgrey-light: lighten($dimgrey, 40%);
$dimgrey-dark:  darken($dimgrey, 25%);
$dodgerblue:        #1E90FF;
$dodgerblue-light: lighten($dodgerblue, 20%);
$dodgerblue-dark:  darken($dodgerblue, 25%);
$firebrick:        #B22222;
$firebrick-light: lighten($firebrick, 40%);
$firebrick-dark:  darken($firebrick, 25%);
$floralwhite:        #FFFAF0;
$floralwhite-light: lighten($floralwhite, 40%);
$floralwhite-dark:  darken($floralwhite, 25%);
$forestgreen:        #228B22;
$forestgreen-light: lighten($forestgreen, 40%);
$forestgreen-dark:  darken($forestgreen, 25%);
$fuchsia:        #FF00FF;
$fuchsia-light: lighten($fuchsia, 40%);
$fuchsia-dark:  darken($fuchsia, 25%);
$gainsboro:        #DCDCDC;
$gainsboro-light: lighten($gainsboro, 40%);
$gainsboro-dark:  darken($gainsboro, 25%);
$ghostwhite:        #F8F8FF;
$ghostwhite-light: lighten($ghostwhite, 40%);
$ghostwhite-dark:  darken($ghostwhite, 25%);
$gold:        #FFD700;
$gold-light: lighten($gold, 40%);
$gold-dark:  darken($gold, 25%);
$goldenrod:        #DAA520;
$goldenrod-light: lighten($goldenrod, 40%);
$goldenrod-dark:  darken($goldenrod, 25%);
$gray:        #808080;
$gray-light: lighten($gray, 40%);
$gray-dark:  darken($gray, 25%);
$green:        #008000;
$green-light: lighten($green, 40%);
$green-dark:  darken($green, 25%);
$greenyellow:        #ADFF2F;
$greenyellow-light: lighten($greenyellow, 40%);
$greenyellow-dark:  darken($greenyellow, 25%);
$grey:        #808080;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 25%);
$honeydew:        #F0FFF0;
$honeydew-light: lighten($honeydew, 40%);
$honeydew-dark:  darken($honeydew, 25%);
$hotpink:        #FF69B4;
$hotpink-light: lighten($hotpink, 40%);
$hotpink-dark:  darken($hotpink, 25%);
$indianred:        #CD5C5C;
$indianred-light: lighten($indianred, 40%);
$indianred-dark:  darken($indianred, 25%);
$indigo:        #4B0082;
$indigo-light: lighten($indigo, 40%);
$indigo-dark:  darken($indigo, 25%);
$ivory:        #FFFFF0;
$ivory-light: lighten($ivory, 40%);
$ivory-dark:  darken($ivory, 25%);
$khaki:        #F0E68C;
$khaki-light: lighten($khaki, 40%);
$khaki-dark:  darken($khaki, 25%);
$lavender:        #E6E6FA;
$lavender-light: lighten($lavender, 40%);
$lavender-dark:  darken($lavender, 25%);
$lavenderblush:        #FFF0F5;
$lavenderblush-light: lighten($lavenderblush, 40%);
$lavenderblush-dark:  darken($lavenderblush, 25%);
$lawngreen:        #7CFC00;
$lawngreen-light: lighten($lawngreen, 40%);
$lawngreen-dark:  darken($lawngreen, 25%);
$lemonchiffon:        #FFFACD;
$lemonchiffon-light: lighten($lemonchiffon, 40%);
$lemonchiffon-dark:  darken($lemonchiffon, 25%);
$lightblue:        #ADD8E6;
$lightblue-light: lighten($lightblue, 40%);
$lightblue-dark:  darken($lightblue, 25%);
$lightcoral:        #F08080;
$lightcoral-light: lighten($lightcoral, 40%);
$lightcoral-dark:  darken($lightcoral, 25%);
$lightcyan:        #E0FFFF;
$lightcyan-light: lighten($lightcyan, 40%);
$lightcyan-dark:  darken($lightcyan, 25%);
$lightgoldenrodyellow:        #FAFAD2;
$lightgoldenrodyellow-light: lighten($lightgoldenrodyellow, 40%);
$lightgoldenrodyellow-dark:  darken($lightgoldenrodyellow, 25%);
$lightgray:        #D3D3D3;
$lightgray-light: lighten($lightgray, 40%);
$lightgray-dark:  darken($lightgray, 25%);
$lightgreen:        #90EE90;
$lightgreen-light: lighten($lightgreen, 40%);
$lightgreen-dark:  darken($lightgreen, 25%);
$lightgrey:        #D3D3D3;
$lightgrey-light: lighten($lightgrey, 40%);
$lightgrey-dark:  darken($lightgrey, 25%);
$lightpink:        #FFB6C1;
$lightpink-light: lighten($lightpink, 40%);
$lightpink-dark:  darken($lightpink, 25%);
$lightsalmon:        #FFA07A;
$lightsalmon-light: lighten($lightsalmon, 40%);
$lightsalmon-dark:  darken($lightsalmon, 25%);
$lightseagreen:        #20B2AA;
$lightseagreen-light: lighten($lightseagreen, 40%);
$lightseagreen-dark:  darken($lightseagreen, 25%);
$lightskyblue:        #87CEFA;
$lightskyblue-light: lighten($lightskyblue, 40%);
$lightskyblue-dark:  darken($lightskyblue, 25%);
$lightslategray:        #778899;
$lightslategray-light: lighten($lightslategray, 40%);
$lightslategray-dark:  darken($lightslategray, 25%);
$lightslategrey:        #778899;
$lightslategrey-light: lighten($lightslategrey, 40%);
$lightslategrey-dark:  darken($lightslategrey, 25%);
$lightsteelblue:        #B0C4DE;
$lightsteelblue-light: lighten($lightsteelblue, 40%);
$lightsteelblue-dark:  darken($lightsteelblue, 25%);
$lightyellow:        #FFFFE0;
$lightyellow-light: lighten($lightyellow, 40%);
$lightyellow-dark:  darken($lightyellow, 25%);
$lime:        #00FF00;
$lime-light: lighten($lime, 40%);
$lime-dark:  darken($lime, 25%);
$limegreen:        #32CD32;
$limegreen-light: lighten($limegreen, 40%);
$limegreen-dark:  darken($limegreen, 25%);
$linen:        #FAF0E6;
$linen-light: lighten($linen, 40%);
$linen-dark:  darken($linen, 25%);
$magenta:        #FF00FF;
$magenta-light: lighten($magenta, 20%);
$magenta-dark:  darken($magenta, 25%);
$maroon:        #800000;
$maroon-light: lighten($maroon, 40%);
$maroon-dark:  darken($maroon, 25%);
$mediumaquamarine:        #66CDAA;
$mediumaquamarine-light: lighten($mediumaquamarine, 40%);
$mediumaquamarine-dark:  darken($mediumaquamarine, 25%);
$mediumblue:        #0000CD;
$mediumblue-light: lighten($mediumblue, 40%);
$mediumblue-dark:  darken($mediumblue, 25%);
$mediumorchid:        #BA55D3;
$mediumorchid-light: lighten($mediumorchid, 40%);
$mediumorchid-dark:  darken($mediumorchid, 25%);
$mediumpurple:        #9370DB;
$mediumpurple-light: lighten($mediumpurple, 40%);
$mediumpurple-dark:  darken($mediumpurple, 25%);
$mediumseagreen:        #3CB371;
$mediumseagreen-light: lighten($mediumseagreen, 40%);
$mediumseagreen-dark:  darken($mediumseagreen, 25%);
$mediumslateblue:        #7B68EE;
$mediumslateblue-light: lighten($mediumslateblue, 40%);
$mediumslateblue-dark:  darken($mediumslateblue, 25%);
$mediumspringgreen:        #00FA9A;
$mediumspringgreen-light: lighten($mediumspringgreen, 40%);
$mediumspringgreen-dark:  darken($mediumspringgreen, 25%);
$mediumturquoise:        #48D1CC;
$mediumturquoise-light: lighten($mediumturquoise, 40%);
$mediumturquoise-dark:  darken($mediumturquoise, 25%);
$mediumvioletred:        #C71585;
$mediumvioletred-light: lighten($mediumvioletred, 40%);
$mediumvioletred-dark:  darken($mediumvioletred, 25%);
$midnightblue:        #191970;
$midnightblue-light: lighten($midnightblue, 40%);
$midnightblue-dark:  darken($midnightblue, 25%);
$mintcream:        #F5FFFA;
$mintcream-light: lighten($mintcream, 40%);
$mintcream-dark:  darken($mintcream, 25%);
$mistyrose:        #FFE4E1;
$mistyrose-light: lighten($mistyrose, 40%);
$mistyrose-dark:  darken($mistyrose, 25%);
$moccasin:        #FFE4B5;
$moccasin-light: lighten($moccasin, 40%);
$moccasin-dark:  darken($moccasin, 25%);
$navajowhite:        #FFDEAD;
$navajowhite-light: lighten($navajowhite, 40%);
$navajowhite-dark:  darken($navajowhite, 25%);
$navy:        #000080;
$navy-light: lighten($navy, 40%);
$navy-dark:  darken($navy, 25%);
$oldlace:        #FDF5E6;
$oldlace-light: lighten($oldlace, 40%);
$oldlace-dark:  darken($oldlace, 25%);
$olive:        #808000;
$olive-light: lighten($olive, 40%);
$olive-dark:  darken($olive, 25%);
$olivedrab:        #6B8E23;
$olivedrab-light: lighten($olivedrab, 40%);
$olivedrab-dark:  darken($olivedrab, 25%);
$orange:        #FFA500;
$orange-light: lighten($orange, 40%);
$orange-dark:  darken($orange, 25%);
$orangered:        #FF4500;
$orangered-light: lighten($orangered, 40%);
$orangered-dark:  darken($orangered, 25%);
$orchid:        #DA70D6;
$orchid-light: lighten($orchid, 40%);
$orchid-dark:  darken($orchid, 25%);
$palegoldenrod:        #EEE8AA;
$palegoldenrod-light: lighten($palegoldenrod, 40%);
$palegoldenrod-dark:  darken($palegoldenrod, 25%);
$palegreen:        #98FB98;
$palegreen-light: lighten($palegreen, 40%);
$palegreen-dark:  darken($palegreen, 25%);
$paleturquoise:        #AFEEEE;
$paleturquoise-light: lighten($paleturquoise, 40%);
$paleturquoise-dark:  darken($paleturquoise, 25%);
$palevioletred:        #DB7093;
$palevioletred-light: lighten($palevioletred, 40%);
$palevioletred-dark:  darken($palevioletred, 25%);
$papayawhip:        #FFEFD5;
$papayawhip-light: lighten($papayawhip, 40%);
$papayawhip-dark:  darken($papayawhip, 25%);
$peachpuff:        #FFDAB9;
$peachpuff-light: lighten($peachpuff, 40%);
$peachpuff-dark:  darken($peachpuff, 25%);
$peru:        #CD853F;
$peru-light: lighten($peru, 40%);
$peru-dark:  darken($peru, 25%);
$pink:        #FFC0CB;
$pink-light: lighten($pink, 40%);
$pink-dark:  darken($pink, 25%);
$plum:        #DDA0DD;
$plum-light: lighten($plum, 40%);
$plum-dark:  darken($plum, 25%);
$powderblue:        #B0E0E6;
$powderblue-light: lighten($powderblue, 40%);
$powderblue-dark:  darken($powderblue, 25%);
$purple:        #800080;
$purple-light: lighten($purple, 40%);
$purple-dark:  darken($purple, 25%);
$rebeccapurple:        #663399;
$rebeccapurple-light: lighten($rebeccapurple, 40%);
$rebeccapurple-dark:  darken($rebeccapurple, 25%);
$red:        #FF0000;
$red-light: lighten($red, 40%);
$red-dark:  darken($red, 25%);
$rosybrown:        #BC8F8F;
$rosybrown-light: lighten($rosybrown, 40%);
$rosybrown-dark:  darken($rosybrown, 25%);
$royalblue:        #4169E1;
$royalblue-light: lighten($royalblue, 40%);
$royalblue-dark:  darken($royalblue, 25%);
$saddlebrown:        #8B4513;
$saddlebrown-light: lighten($saddlebrown, 40%);
$saddlebrown-dark:  darken($saddlebrown, 25%);
$salmon:        #FA8072;
$salmon-light: lighten($salmon, 40%);
$salmon-dark:  darken($salmon, 25%);
$sandybrown:        #F4A460;
$sandybrown-light: lighten($sandybrown, 40%);
$sandybrown-dark:  darken($sandybrown, 25%);
$seagreen:        #2E8B57;
$seagreen-light: lighten($seagreen, 40%);
$seagreen-dark:  darken($seagreen, 25%);
$seashell:        #FFF5EE;
$seashell-light: lighten($seashell, 40%);
$seashell-dark:  darken($seashell, 25%);
$sienna:        #A0522D;
$sienna-light: lighten($sienna, 40%);
$sienna-dark:  darken($sienna, 25%);
$silver:        #C0C0C0;
$silver-light: lighten($silver, 40%);
$silver-dark:  darken($silver, 25%);
$skyblue:        #87CEEB;
$skyblue-light: lighten($skyblue, 40%);
$skyblue-dark:  darken($skyblue, 25%);
$slateblue:        #6A5ACD;
$slateblue-light: lighten($slateblue, 40%);
$slateblue-dark:  darken($slateblue, 25%);
$slategray:        #708090;
$slategray-light: lighten($slategray, 40%);
$slategray-dark:  darken($slategray, 25%);
$slategrey:        #708090;
$slategrey-light: lighten($slategrey, 40%);
$slategrey-dark:  darken($slategrey, 25%);
$snow:        #FFFAFA;
$snow-light: lighten($snow, 40%);
$snow-dark:  darken($snow, 25%);
$springgreen:        #00FF7F;
$springgreen-light: lighten($springgreen, 40%);
$springgreen-dark:  darken($springgreen, 25%);
$steelblue:        #4682B4;
$steelblue-light: lighten($steelblue, 40%);
$steelblue-dark:  darken($steelblue, 25%);
$tan:        #D2B48C;
$tan-light: lighten($tan, 40%);
$tan-dark:  darken($tan, 25%);
$teal:        #008080;
$teal-light: lighten($teal, 40%);
$teal-dark:  darken($teal, 25%);
$thistle:        #D8BFD8;
$thistle-light: lighten($thistle, 40%);
$thistle-dark:  darken($thistle, 25%);
$tomato:        #FF6347;
$tomato-light: lighten($tomato, 40%);
$tomato-dark:  darken($tomato, 25%);
$turquoise:        #40E0D0;
$turquoise-light: lighten($turquoise, 40%);
$turquoise-dark:  darken($turquoise, 25%);
$violet:        #EE82EE;
$violet-light: lighten($violet, 40%);
$violet-dark:  darken($violet, 25%);
$wheat:        #F5DEB3;
$wheat-light: lighten($wheat, 40%);
$wheat-dark:  darken($wheat, 25%);
$white:        #FFFFFF;
$white-light: lighten($white, 40%);
$white-dark:  darken($white, 25%);
$whitesmoke:        #F5F5F5;
$whitesmoke-light: lighten($whitesmoke, 40%);
$whitesmoke-dark:  darken($whitesmoke, 25%);
$yellow:        #FFFF00;
$yellow-light: lighten($yellow, 40%);
$yellow-dark:  darken($yellow, 25%);
$yellowgreen:        #9ACD32;
$yellowgreen-light: lighten($yellowgreen, 40%);
$yellowgreen-dark:  darken($yellowgreen, 25%);
