 /**
  * Code formatting
  */
$code-background: #282a36;
$code-color-default: #bd93f9;
$code-green: #50fa7b;
$code-current-line: #44475a;
$code-orange: #ffb86c;
$code-cyan: #8be9fd;
$code-comment: #6272a4;

 pre,
 code {
   @include relative-font-size(0.8);
   background-color: $code-background;
   color: $code-color-default;
   font-weight: bold;
 }

 code {
   padding: 2px 2px;
 }

 pre {
   padding: 8px 12px;
   overflow-x: auto;
   > code {
     border: 0;
     padding-right: 0;
     padding-left: 0;
   }
 }


 /**
  * Syntax highlighting styles
  */
.highlight {
  background: $code-background;
  @extend %vertical-rhythm;

  .highlighter-rouge & {
    background: $code-background;
  }

  .c     { color: $code-orange; } // Bash comments
  
// Python specific highlighting
  .kn { color: $code-color-default; } // import
  .nn { color: $code-color-default; } // module

  .err   { color: $code-color-default; } // Error
  .k     { color: $code-color-default; } // Keyword
  .p     { color: $code-color-default; } // Keyword
  .n     { color: $code-color-default; }
  .o     { color: $code-color-default; } // Operator
  .cm    { color: $code-color-default; } // Comment.Multiline
  .cp    { color: $code-color-default; } // Comment.Preproc
  .c1    { color: $code-color-default; font-style: italic; } // Comment.Single
  .cs    { color: $code-color-default; } // Comment.Special
  .gd    { color: $code-color-default; } // Generic.Deleted
  .gd .x { color: $code-color-default; } // Generic.Deleted.Specific
  .ge    { color: $code-color-default; } // Generic.Emph
  .gr    { color: $code-color-default; } // Generic.Error
  .gh    { color: $code-color-default; } // Generic.Heading
  .gi    { color: $code-color-default; } // Generic.Inserted
  .gi .x { color: $code-color-default; } // Generic.Inserted.Specific
  .go    { color: $code-color-default; } // Generic.Output
  .gp    { color: $code-color-default; } // Generic.Prompt
  .gs    { color: $code-color-default; } // Generic.Strong
  .gu    { color: $code-color-default; } // Generic.Subheading
  .gt    { color: $code-color-default; } // Generic.Traceback
  .kc    { color: $code-color-default; } // Keyword.Constant
  .kd    { color: $code-color-default; } // Keyword.Declaration
  .kp    { color: $code-color-default; } // Keyword.Pseudo
  .kr    { color: $code-color-default; } // Keyword.Reserved
  .kt    { color: $code-color-default; } // Keyword.Type
  .m     { color: $code-color-default; } // Literal.Number
  .s     { color: $code-color-default; } // Literal.String
  .na    { color: $code-color-default; } // Name.Attribute
  .nb    { color: $code-color-default; } // Name.Builtin
  .nc    { color: $code-color-default; } // Name.Class
  .no    { color: $code-color-default; } // Name.Constant
  .ni    { color: $code-color-default; } // Name.Entity
  .ne    { color: $code-color-default; } // Name.Exception
  .nf    { color: $code-color-default; } // Name.Function
  .nt    { color: $code-color-default; } // Name.Tag
  .nv    { color: $code-color-default; } // Name.Variable
  .ow    { color: $code-color-default; } // Operator.Word
  .w     { color: $code-color-default; } // Text.Whitespace
  .mf    { color: $code-color-default; } // Literal.Number.Float
  .mh    { color: $code-color-default; } // Literal.Number.Hex
  .mi    { color: $code-color-default; } // Literal.Number.Integer
  .mo    { color: $code-color-default; } // Literal.Number.Oct
  .sb    { color: $code-color-default; } // Literal.String.Backtick
  .sc    { color: $code-color-default; } // Literal.String.Char
  .sd    { color: $code-color-default; } // Literal.String.Doc
  .s2    { color: $code-color-default; } // Literal.String.Double
  .se    { color: $code-color-default; } // Literal.String.Escape
  .sh    { color: $code-color-default; } // Literal.String.Heredoc
  .si    { color: $code-color-default; } // Literal.String.Interpol
  .sx    { color: $code-color-default; } // Literal.String.Other
  .sr    { color: $code-color-default; } // Literal.String.Regex
  .s1    { color: $code-color-default; } // Literal.String.Single
  .ss    { color: $code-color-default; } // Literal.String.Symbol
  .bp    { color: $code-color-default; } // Name.Builtin.Pseudo
  .vc    { color: $code-color-default; } // Name.Variable.Class
  .vg    { color: $code-color-default; } // Name.Variable.Global
  .vi    { color: $code-color-default; } // Name.Variable.Instance
  .il    { color: $code-color-default; } // Literal.Number.Integer.Long
}
